<mat-grid-list cols="2">
  <mat-grid-tile>
    <joystick #joystick (onCoords)="on2d($event)">
    </joystick>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-slider
      min="-1" max="1" step="0.02" style="height: 100%;"
      vertical [value]="coords.z"
      #slider
      ></mat-slider>
  </mat-grid-tile>
</mat-grid-list>
