<div style="display: inline-block; vertical-align: middle;">
  <joystick
    (onClockCoords)="move_input.next($event)" [inputClock]="clock"
    style="width: 400px; height: 400px;"></joystick>
</div>
<div style="display: inline-block; vertical-align: middle;">
  <one-d-joystick
    style="height: 400px;"
    [inputClock]="clock"
    (onClockInput)="sit_input($event)"
    defaultValue="-1"
    vertical
    >
  </one-d-joystick>
</div>

<br>
<div style="display: inline-block; vertical-align: middle;">
  <one-d-joystick
    style="width: 400px;"
    [inputClock]="clock"
    (onClockInput)="turn_input($event)"
    defaultValue="0"
    >
  </one-d-joystick>
</div>

<!--<mat-grid-list cols="6">
  <mat-grid-tile *ngFor="let s of servos; let i = index">
    <div style="width: 100%; height: 100%">
      <p style="text-align: center; font-size: 50px;">{{i}}</p>
      <mat-slider min="0" max="180" step="1" style="width: 100%"
                  [value]="s.val"
                  ></mat-slider>
    </div>
  </mat-grid-tile>
</mat-grid-list>-->

<!--
<mat-slider min="-300" max="300" step="1" style="width: 100%"
            [value]="sit_val"
            ></mat-slider>

-->
<!--<mat-grid-list cols="7">
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button
      tag="up"
      >up</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="2"
    rowspan="2"
    >
    <round-button
      tag="x"
      background="orange"
      >X</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="4"
    rowspan="3"
    >
    <joystick></joystick>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button>down</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button
      background="orange"
      >level</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button><<</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button>>></round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button
      background="orange"
      >stop</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button
      background="orange"
      >reset</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button
      background="orange"
      >laser</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
      ></mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button>drive</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button>rotate</round-button>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="1"
    rowspan="1"
    >
    <round-button>hand</round-button>
  </mat-grid-tile>

</mat-grid-list>
-->


<ng-template #disconnectedPopup>
  <mat-spinner></mat-spinner>
</ng-template>
