<span
  (mousedown)="down($event)"
  (document:mouseup)="up($event)"
  (mousemove)="move($event)"
  style="width: inherit; height: inherit;"
  #base>
  <svg viewBox="-0.5 -0.5 1 1"
       style="width: inherit; height: inherit;"
       #svg>
    <circle cx="0" cy="0" r="0.5"/>
    <circle r="0.05"
            [attr.cy]="top"
            [attr.cx]="left"
            style="fill: #FFF;"/>
  </svg>
</span>
